* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: 'Open Sans', sans-serif;
}


body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 10vh auto auto minmax(20vh, 30vh);
  grid-template-areas:
    "header header"
    "content sidebar"
    "cta cta"
    "footer footer";
  background-color: #f0efef;
}
header {
  grid-area: header;
  background-color: #033048;
}

nav {
  display: inline-block;
  font-weight: 600;
  float: right;
}

article {
  margin: 2em;
}

a{
  text-decoration: none;
}

p {
  color: #033048;
}

.headerlinks {
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-end;
  color: #f9e42e;
  padding: 1em;
}
/*a {
  float: right;
}*/

.categories {
  display: flex;
  flex-direction: column;
  color: #033048;
  text-align: left;
}

main {
  grid-area: content;
}

h2 {
  font-weight: 600;
  color: #033048;
}

h3 {
  color: #033048;
}

h3 + h2 {
  background-color: white;
  text-align: center;
}

p + a {
  float: right;
}
footer div {
  text-align: center;
  border: 1em;
}

aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
  background-color: #033048;
  /*background-image: url(../images/relaxr-logo-yellow.svg)
  background-size: 50%, cover;
  /*background-repeat: no-repeat;
  background-position: center;*/
  color: white;
  text-align: center;
}

.cta a {
  font-weight: 600;
  padding: 1em;
  color: white;
  background-color: #033048;
  padding: .75em 5em;
  border-radius: .25em;
}

img {
  width: 100%;
}

.mediaiconimage {
  width: 5%;
  margin: 1em;
}
.relaxriconimage {
  width: 10%;
  margin: 1em;
}
#footerrelaxrimage {
  text-align: center;
}

.cta {
  grid-area: cta;
  background-color: #f9e42e;
  text-align: center;
  padding: 2em;

}

footer p {
  color: white;
  padding-bottom: 2em;
}
