* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #343434;
  color: #16b1b5;
  font-family: 'Raleway', sans-serif;
  font-weight; 200;
  font-size: 24px;
  scroll-behavior: smooth;
}

header {
  padding: 40px;
  line-height; .8;
}

h1 {
  line-height: .8;
}

p not(img + p){
  margin: 1em 0;
}

nav {
  font-size: 16px;
  text-align: center;
  padding: 2em 0;
}

a {
  color: rgb(255, 255, 255);
  margin: 20px;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid white;
}

#work {
  background-color: #16b1b5;
  padding: 40px;
  color: rgb(255, 255, 255);
  column-count: 2;
}

#hobbies {
  padding: 40px;

}


#gallery {
  column-count: 3;
  column-gap: 0;
  background-color: #16b1b5;
}


img {
  width: 100%; /* makes your images smaller by adjusting the width to the column with. The height is adjusted proportionally*/
  display: block; /* tells the browser not to treat the images like the inline that they are but like block i.e. deletes the spaces between the images*/
  height: calc(100vw / 3); /* you must have 1 space on either side of the operator*/
  object-fit: cover;
  object-position: top;
}

div {
  break-inside: avoid;
  position: relative;
}

img + p {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 177, 181, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 50;
}

div:hover img + p {
opacity: 1;
border: 5px solid rgb(22, 177, 181);
}

footer {
  text-align: center;
}

.center {
  object-position: center;
}
