* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Slabo 13px', serif;
  font-size: 24px;
  scroll-behavior: smooth;
}

header {
  height: 100vh;
  background-image: url(../images/bounty-logo.svg), url(../images/sandwich.jpg);
  background-size: 50%, cover;
  background-repeat: no-repeat;
  background-position: 50% 90%, center;
  background-attachment: scroll, fixed;
}
nav {
  background: rgb(224,157,52);
  padding: 1em;
  text-align: center;
}

a {
  color: rgb(255,255,255,.85)
  text-decoration: none;
  margin: 0 1em;
}

main {
  background: rgb(69,0,29);
  color: rgba(255,255,255,0.85);
  border-top: 2rem rgb(224, 157,52) solid;
  padding: 2em;
}

.price {
  color: rgb(224,157,52);
  float: right
}
h1 {
  font-family: 'Mr Dafoe', cursive;
  text-align: center;
}

h1, .calories {
    color: rgb(121,51,72);
  }
  section {
    column-count: 2;
    column-gap: 2em;
  }
  div {
    break-inside: avoid;
  }
footer {
  background-color: rgb(224, 157,52);
  column-count: 2;
  padding: 2em;
}
img {
  width: 100%;
}
/* font-family: 'Mr Dafoe', cursive;
font-family: 'Slabo 13px', serif; */
